include README.md
include LICENSE
include CHANGELOG.md
include requirements.txt
include pyproject.toml
include bin/wsgi.py
recursive-include prom2notify/resources/ *
recursive-include prom2notify/app/static/ *
recursive-include prom2notify/config/ *
recursive-include tests/data/ *.json
